<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1"
             xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
    <persistence-unit name="primary">
        <class>com.flexicore.product.model.GroupFiltering</class>
        <class>com.flexicore.product.model.Gateway</class>
        <class>com.flexicore.product.model.Equipment</class>
        <class>com.flexicore.product.model.EquipmentGroup</class>
        <class>com.flexicore.product.model.EquipmentType</class>
        <class>com.flexicore.product.model.EquipmentToGroup</class>
        <class>com.flexicore.product.model.Model</class>
        <class>com.flexicore.product.model.Product</class>
        <class>com.flexicore.product.model.ProductStatus</class>
        <class>com.flexicore.product.model.ProductToStatus</class>
        <class>com.flexicore.product.model.ProductType</class>
        <class>com.flexicore.product.model.ProductTypeToProductStatus</class>
        <class>com.flexicore.organization.model.Organization</class>
        <class>com.flexicore.organization.model.Manufacturer</class>
        <class>com.flexicore.product.model.ApiProvider</class>
        <class>com.flexicore.product.model.LocationArea</class>
        <class>com.flexicore.product.model.EquipmentFiltering</class>
        <class>com.flexicore.product.model.EquipmentGroupFiltering</class>
        <class>com.flexicore.product.model.InspectEquipmentRequest</class>
        <class>com.flexicore.product.model.ProductStatusFiltering</class>
        <class>com.flexicore.product.model.ProductTypeFiltering</class>
        <class>com.flexicore.product.model.NeighbourhoodFiltering</class>
        <class>com.flexicore.model.territories.Neighbourhood</class>
        <class>com.flexicore.product.model.StreetFiltering</class>
        <class>com.flexicore.model.territories.Street</class>
        <class>com.flexicore.model.Baseclass</class>
        <class>com.flexicore.model.Baselink</class>
        <class>com.flexicore.model.FileResource</class>

        <class>com.flexicore.product.model.TypeToReturnFiltering</class>
        <class>com.flexicore.product.model.StreetIdFiltering</class>
        <class>com.flexicore.product.model.ProductTypeIdFiltering</class>
        <class>com.flexicore.product.model.NeighbourhoodIdFiltering</class>
        <class>com.flexicore.product.model.ProductStatusIdFiltering</class>
        <class>com.flexicore.product.model.GroupIdFiltering</class>
        <class>com.flexicore.product.model.GatewayIdFiltering</class>
        <class>com.flexicore.product.model.GatewayConsoleIdFiltering</class>
        <class>com.flexicore.product.model.EquipmentIdFiltering</class>
        <class>com.flexicore.product.model.FlexiCoreGateway</class>


        <exclude-unlisted-classes>true</exclude-unlisted-classes>
    </persistence-unit>


</persistence>
